*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  display: grid;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(68, 69, 70);
  height: 100px;
  padding: 20px 40px;
  align-items: center;
}

nav img {
  width: 5%;
  height: 50px;
  background-color: gray;
  border-radius: 6px;

}

nav ul {
  width: 50%;
  height: 30px;
  background-color: gray;
  display: flex;
  list-style-type: none;
  color: white;
  justify-content: space-around;
  font-size: 25px;
}

nav input {
  width: 25%;
  height: 60px;
  background-color: rgb(39, 38, 38);
  border-radius: 10px;
  color: white;
}

.article-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 650px 500px;
  position: relative;
  justify-content: center;
  /* align-items: center; */
}

.miss-div {
  font-size: 35px;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  z-index : 1;
  color: white;
  background-color: rgb(39, 38, 38);
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 10px;
}

.article-one > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 40px 50px;
}

.article-head {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.tilted {
  transform: rotate(-15deg);
  transform-origin:  left bottom;
  transition: 0.3s ease-in-out;
}

.tilted:hover {
  transform: rotate(0deg);
}

.article-head > img {
  width: 70px;
  height: 70px;
  background-color: white;
  margin-right: 30px;
  border-radius: 5px;
}

.article-one > article > h2 {
  margin-bottom: 30px;
  font-size: 35px;
}

.article-one > article:first-child {
  background-color: rgb(50, 50, 50);
  padding-top: 150px;
}

.article-one > article:nth-child(2) {
  background-color: rgb(90, 90, 90);
  padding-top: 150px;
}

.article-one > article:nth-child(3) {
  background-color: rgb(30, 30, 30);
}

.article-one > article:last-child {
  background-color: rgb(120, 120, 120);
}

.article-two {
  display: flex;
  background-color: rgb(200, 200, 200);
}

.article-two h2, h3, p {
  padding: 10px 25px;
}

.article-two > article >  h2 {
  padding-top: 50px;
}

.article-two p {
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
  margin-left: 0;
}

.arrow {
  font-size: 30px;
  width: 25%;
  text-align: center;
  padding: 20px;
}

.article-two > article {
  transition: 0.4s ease-in-out;
}

.article-two > article:hover {
  transform: scale(1.1);
  background-color: #666;
}

.article-two > article:hover > .arrow {
  background-color:#333;
}

.ad-holder {
  background-color: rgb(220, 220, 220);
}

.ad-div {
  background-color: rgb(39, 38, 38);
  width: 60%;
  float: right;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  color: white;
  padding: 0 70px;
}

.ad-div h1, p, button {
  padding: 20px 0;
}

.ad-div > h1 {
  font-size: 50px;
  text-align: center;
}

.ad-div > p {
  text-align : center;
}

.ad-div > button {
  padding: 15px 30px;
  color: black;
  border : none;
  border-radius: 5px;
  margin-top: 20px;
}


.ad-holder > article {
  width: 33.33%;
  float: left;
  transition: 0.4s ease-in-out;
  height: 95vh;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  position: relative;
  padding-top: 20px;
}

.ad-holder h1, h3, p {
  padding: 10px 25px;
}

.ad-holder p {
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
}

.ad-holder > article > h3, .ad-holder > article > p {
  margin-left: 0;
  padding: 20px 0px;
}

.ad-holder > article:hover {
  transform: scale(1.1);
  background-color: #666;
}

.ad-holder .arrow2 {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
}

.ad-holder > article:hover > .arrow {
  background-color:#333;
}

.see-articles-div {
  background-color: rgb(200, 200, 200);
  text-align: center;
  padding: 50px 0;
}

.see-articles-div > p {
  display: inline-block;
  padding: 10px 10px;
  border-bottom: 3px solid gray;
}

.click {
  background-color: rgb(60, 60, 60);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.click > .clickhead, .clickbody {
  padding: 20px 20px;
  margin: auto;
  width: 60%;
}

.click > .clickhead {
  font-size: 50px;
}

.click > .clickbody {
  font-size: 20px;
}

.click > button {
  background-color: white;
  width: 20%;
  margin-bottom: 60px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.click > img {
  width: 60%;
  height: 60vh;
  background-color: rgb(30, 30, 30);
  margin-bottom: 30px;
}

.person-div {
  display: flex;
  background-color: rgb(200, 200, 200);
  padding: 120px 30px 50px 80px;
  justify-content: space-around;
}

.person-div > img {
  width: 100%;
  height: 250px;
  background-color: #888;
  border-radius: 20px;
  margin-right: 30px;
}

.person-div > article > h3, .person-div > article > p {
  padding-left: 0;
}

.person-div > article > h3 {
  margin-top: -60px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-weight: 200px;
}

.person-div > article > p {
  line-height: 30px;
  font-size: 18px;
  margin-left: 0;
}

.bottom-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 400px 300px;
  background-color: rgb(200, 200, 200);
  padding: 50px 50px 0 50px;
}

.bottom-articles > article {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.bottom-articles > article > img{
  width: 300px;
  height: 100px;
  margin-right: 30px;
  margin-left: 30px;
  background-color: #888;
  border-radius: 5px;
  margin-top: 20px;
}

.article-details > h2, .article-details > p {
  padding: 10px 0 ;
}

.article-details > p {
  line-height: 30px;
  margin-left: 0;
}

.design-system-div {
  background-color: #333;
  color: white;
  padding: 30px 0;
  position: relative;
}

.design-system-div h1, p, button {
  padding-top: 30px;
  margin-left: 40px;
}

.design-system-div h1 {
  font-size: 50px;
}

.design-system-div p {
  font-size: 20px;
  line-height: 40px;
  padding-right: 400px;
  padding-left: 0;
  padding-bottom: 30px;
}

.design-system-div button {
  width: 400px;
  border-radius: 10px;
  font-size: 25px;
  padding: 15px 30px;
  margin-bottom: 20px;
}

.book {
  width: 250px;
  height: 350px;
  background-color: #666;
  position: absolute;
  right: 100px;
  top: -30px;
}

.article-two > article > ul > li,
.article-list > li {
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  list-style-position: inside;
}
